<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ToastNotifications.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <ToastNotifications.Properties.Settings>
      <setting name="Servidor" serializeAs="String">
        <value>Server</value>
      </setting>
      <setting name="BaseDeDatos" serializeAs="String">
        <value>DB</value>
      </setting>
      <setting name="Usuario" serializeAs="String">
        <value>User</value>
      </setting>
      <setting name="Puerto" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>Pass</value>
      </setting>
      <setting name="IdentificadorAlmacen" serializeAs="String">
        <value>0</value>
      </setting>
    </ToastNotifications.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="MinutosCiclo" value="10"/>
  </appSettings>
</configuration>
